input[type=checkbox]{
    display: inline-block;
    width: 2em;
    height: calc(1.6em + 0.75rem + 1px);
}



/* .active{
    background-color: --blue;
    color: white;
} */

.stepper-point{
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #f123f1;
    margin-right: auto;
}
/* .stepper-point:not(:last-child) {
    margin-right: 10em;
}        */
/* .stepper-point:not(:last-child)::after{
    content: "";
 
    background-color: #000;
    width: 13em;
    height: 0.2em;
    position: absolute;
    top: .6em;
 
    z-index: -1;
} */
.nav-label{
    position: absolute;
    top: 2em;
}
.form-radio{
    display: inline-block;
    margin: 0 auto;
}



.footer-info{
    background-image: url('/img/images/bottom-bg.svg'); 
    height: 100%; 
    padding-top: 20rem
}
.top-info{
    height: 1709.88px; 
    background-image: url('/img/images/top-bg.svg'); 
    padding: 0
}
.border-bottom-color-primary{
    border-bottom-color: #0799d6;
}

.background-color-white{
    background-color: #FFF;
}