input[type=checkbox]{
    display: inline-block;
    width: 2em;
    height: calc(1.6em + 0.75rem + 1px);
}

form:not(:first-child){
    display: none;
}

/* .active{
    background-color: --blue;
    color: white;
} */

span.stepper-point{
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: #f123f1;
    margin-right: auto;
}
span.stepper-point:not(:last-child) {
    margin-right: 10em;
}       
span.stepper-point:not(:last-child)::after{
    content: "";
    /* display: block; */
    background-color: #000;
    width: 13em;
    height: 0.2em;
    position: absolute;
    top: .6em;
    /* right: 0; */
    z-index: -1;
}
.nav-label{
    position: absolute;
    top: 2em;
}